SPRING_PROFILES_ACTIVE=dev
DATABASE_URL=jdbc:postgresql://localhost:5432/issuehub_db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

JWT_SECRET=secret
JWT_ISSUER=issuehub
JWT_AUDIENCE=issuehub-api
JWT_ACCESS_TOKEN_EXPIRATION=PT15M
JWT_REFRESH_TOKEN_EXPIRATION=P7D

GITHUB_CLIENT_ID=https://github.com/settings/apps/new
GITHUB_CLIENT_SECRET=https://github.com/settings/apps/new
GITHUB_CALLBACK_URL=http://localhost:8080/integrations/github/callback

APP_ENCRYPTION_SECRET_KEY=openssl rand -base64 32