spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/issuehub_db}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:postgres}

  jpa:
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  devtools:
    restart:
      enabled: true

  docker:
    compose:
      enabled: true