name: Continuous Integration

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"

      - name: Build & Unit/Integration Tests
        run: mvn -B verify
        env:
          TESTCONTAINERS_RYUK_DISABLED: "true"
          TESTCONTAINERS_CHECKS_DISABLE: "true"